mat-expansion-panel {
    /* border: 1px solid black; */
    border-radius: 25px !important;
    box-shadow: none !important;
    margin: 10px 0 !important;
}

mat-expansion-panel.mat-expansion-panel-spacing {
    margin: 0;
}
