/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* mat-expansion-panel.mat-expansion-panel-spacing {
  margin: 0;
} */
/* mat-expansion-panel {
    margin: 0 !important;
} */
